.Rproj.user
.Rhistory
.RData
.Ruserdata
# knitr and R markdown default cache directories
/*_cache/
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user
#
tmp
## Example Data Folder
LEEF
00.general.parameter
0.raw.data
1.pre-processed.data
2.extracted.data
temp
tools
!*.jar
1.pre_processed
3.archived.data
9.backend
extractor_bemovi_overlay.prof
